body {
  background-color: black;
  color: white;
}

header {
  color: white;
  text-align: center;
}

header h1 {
  font-size: 50px;
}

header p {
  margin-bottom: 30px;
}

input {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 24px;
  width: 300px;
}

footer {
  height: 150px;
  width: 100vw;
  text-align: center;
}

.devicesFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  overflow-y: scroll;
  justify-content: center;
  height: fit-content;
  padding: 30px;
}

.gearBagFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  overflow-X: auto;
  padding-left: 20px;
}

.gearBagStyle {
  width: 100vw;
  height: 300px;
  color: white;
  background: rgba(45, 41, 38, .75);
  position: fixed;
  bottom: 0;
}

.gearBagStyle h2 {
  padding-left: 10px;
  font-size: 30px;
  line-height: 10px;
}

.deviceStyle {
  width: 300px;
  height: 200px;
  margin: 6px;
  padding: 8px;
  color: white;
  font-size: 30px;
  border: 1px solid white;
  background-Position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.deviceStyle p {
  text-align: center;
  vertical-align: middle;
}

.deviceStyle p span {
  background-color: rgb(158, 158, 158, 0.6);
}